.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.effects {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    float:left;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: medium #ff0000 dotted;
}
.effects li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.effects li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.effects li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.effects .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
/*スマホ用*/
@media screen and ( max-width:479px ){
.effects {
    margin:0.1%;
    list-style-type: none;
    width:100%;
    padding: 0;
    float:left;
    box-sizing: border-box;
    border: medium #ff0000 dotted;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space:nowrap;
}
.effects li {
    display:inline-block; 
    position: relative;
    background-color: #EEE;
    margin: 1.5%;
    padding: 9% 2% 2% 2%;
    width: 12vh;
    height: 10vh;
    font-weight:bold;
    text-align: center;
    border-radius: 4px;
}
.effects li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.effects li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.effects .badge {
display: none;
}  
}